body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

header {
  width: 55%;
}

a {
  color: #0084ff;
}

.logo {
  margin-top: 20px;
  display: flex;
  height: 40px;
  justify-content: flex-start;
  align-items: center;
}

.logo-text {
  margin-left: 7px;
  font-weight: 500;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
  justify-content: center;
  max-width: 65%;
  text-align: center;
}

.welcome-text p {
  margin-top: 0;
  margin-bottom: 0;
}

.download-boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3%;
  width: 30%;
}

.download-box {
  display: flex;
  flex-direction: column;
  font-size: xx-small;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  margin-right: 15px;
  min-width: 138px;
}

.undertext {
  margin-top: 6px;
}
.potatoes {
  margin-top: 3%;
  /* width: 55%;
  height: 36%; */
}

